<header class="transparent">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="mobile-menu-btn">
          <i class="fa fa-bars fa-2x"></i>
        </div>
        <div class="logo">
          <a href="#">
            <img src="../assets/images/logo/logo.png"/>
            <h2>Questify.io</h2>
          </a>
        </div>
        <div id="desktop-user">
          <!--<div id="user">
              <a href="#">
                  <p class="user-name">Ioane Delacruz</p>
                  <div class="user-img">
                      <img class="img-responsive img-circle" src="images/user/user-img_001.jpg"/>
                  </div>
              </a>
          </div>-->
<!--           <a id="login-btn" href="#">
  Login
</a> -->
        </div>
      </div>
    </div>
  </div>
</header>
