<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div id="desktop-ftr-menu">
          <ul class="footer-links">
            <li>
              <a href="#">Terms of Service</a>
            </li>
            <li>
              <a href="#">Privacy</a>
            </li>
          </ul>
        </div>
        <img class="footer-logo" src="../../assets/images/logo/footer-logo.png"/>
        <small>
          &copy; 2015 Questify.io Inc. All rights reserved.
        </small>
      </div>
    </div>
  </div>
</footer>