header {
    position: absolute;
    top: 0;
    z-index: 1;
    background-color: transparent !important;
}

.hero {
    width: 100%;
    height: 970px;
    float: left;
    display: table;
    position: relative;
    top: -$header-height;
    color: $font-color-lt;
    background: url('../../assets/images/pages/landing/hero-image.jpg');
    background-size: cover;
    .hero-content {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        h1 {
            margin: 0 0 25px 0;
            font-weight: 100;
        }
        h4 {
            margin: 0 0 35px 0;
            line-height: 1.5;
        }
    }
}

.landing-feature-item{
    text-align: center;
    h4{
        margin: 20px 0;
        font-weight: 700;
    }
}

.module-started {
    width: 100% !important;
    height: 600px !important;
    float: left;
    display: table;
    background: url(../assets/images/modules/landing/started-module-image.jpg);
    background-size: cover;
    .started-content{
        display: table-cell;
        color: $font-color-lt;
        text-align: center;
        vertical-align: middle;
        h1{
            margin: 0 0 25px 0;
            font-weight: 100;
        }
    }
}









$white: #fff;
$black: #000;
.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

/*.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}*/


.main-nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    z-index: 10;
    .container  {
        .logo {
            float: left;
        }
        .login {
            color: #fff;
            float: right;
            font-weight: 400;
            padding: 15px;
        }
    }
}

.hero {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../assets/images/pages/landing/hero-image.jpg) center center;
    background-size: cover;
    color: #fff;
    display: table;
    height: 620px;
    width: 100%;
    .inner-center {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        .title, .subtitle {
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
        }
        .title {
            font-weight: 200;
            font-size: 50px;
        }
        .subtitle {
            font-size: 22px;
        }
        .sign-up {
            display: flex;
            flex-wrap: wrap;
            padding: 0 10%;
            &.sent {
                button {
                    color: orange;
                    font-weight: 600;
                    background-color: rgba(255, 255, 255, 1);
                    border-radius: 0px;
                    border: none;
                }
            }
            .flex-item {
                margin: 10px;
                flex: 1;
                font-size: 16px;
                &:last-child {
                    flex: .5;
                }
            }
            input {
                color: $black;
                height: auto;
                padding: 10px;
            }
            button {
                background-color: transparent;
                border: 1px solid $white;
                border-radius: 25px;
                font-weight: 400;
                outline: none;
                padding: 10px;
            }
        }
    }
}

.features {
    background: #F0F0F0;
    padding: 60px 0px;
    text-align: center;
    h1 {
        font-size: 20px;
    }
}

@media screen and (max-width: 768px) {
    .hero {
        .inner-center {
            .title {
                font-size: 25px;
            }
            .subtitle {
                font-size: 15px;
            }
            .sign-up {
                .flex-item {
                    flex: initial;
                    width: 100%;
                }
            }
        }
    }
    .features {
        .feature {
            margin-bottom: 40px;
        }
    }
}