<div id="mobile-menu"></div>

<!-- HEADER -->
<div ng-include="'components/header/header.html'"></div>

<!-- HERO MODULE -->
<div class="hero">
  <div class="inner-center">
    <h1 class="title">Bring your team together</h1>
    <h3 class="subtitle">Questify is a platform for team development with the mission to <br> create private or public events, track meaningful data, and grow team culture. </h3>
    <div class="sign-up" ng-show="!sent">
      <input ng-model="email.email" class="flex-item" type="email" placeholder="Email Address">
      <input ng-model="email.company" class="flex-item" type="text" placeholder="Company Name">
      <button class="flex-item" ng-click="getNotified()">
        <span ng-show="!sending">Sign up for Free</span>
        <span ng-show="sending">Sending email...</span>
      </button>
    </div>
    <div class="sign-up sent" ng-show="sent">
      <button class="flex-item">Thank you! We've received your message</button>
    </div>
  </div>
</div>

<!-- LANDING FEATURED MODULE -->
<section class="module">
  <div class="container">
    <div class="row">
      <div class="module-block">
        <!-- landing feature item -->
        <div class="col-xs-12 col-sm-3">
          <div class="landing-feature-item">
            <img src="../assets/images/pages/landing/icons/Team Events_Icon1_Questify_Final.png"/>
            <h4>Team Events</h4>

            <p>From team huddles to project collaboration, no matter what event your team creates, Questify keeps everyone engaged and productive.</p>
          </div>
        </div>
        <!-- landing feature item -->
        <div class="col-xs-12 col-sm-3">
          <div class="landing-feature-item">
            <img src="../assets/images/pages/landing/icons/Build_Culture_Icon2_Questify_Final.png"/>
            <h4>Build Culture</h4>

            <p>Expand your teams culture using best practices inspired by communities across various industries to improve collaboration and productivity.</p>
          </div>
        </div>
        <!-- landing feature item -->
        <div class="col-xs-12 col-sm-3">
          <div class="landing-feature-item">
            <img src="../assets/images/pages/landing/icons/Data_Icon3_Questify_Final.png"/>
            <h4>View Data</h4>

            <p> Track personal and team growth with meaningful analytics. Everything from a [thm] to a “you're the best”, is saved for you to share with your current or new team members.</p>
          </div>
        </div>
        <!-- landing feature item -->
        <!--
        <div class="col-xs-12 col-sm-3">
          <div class="landing-feature-item">
            <img src="../assets/images/pages/landing/icons/secure-icon.png"/>
            <h4>Safe and Secure</h4>

            <p>Questify uses 256 bit AES encryption to secure your content</p>
          </div>
        </div>
      -->
      </div>
    </div>
  </div>
</section>

<!-- LANDING AWARDS MODULE -->
<section class="module module-colored landing-awards">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="module-block">
          <h1>Questify is a <br> 1st place winner!</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <!-- award item -->
        <div class="awards-item">
          <img src="../assets/images/pages/landing/awards/award-yammer.png"/>
          <p>
            Most creative application that used the Yammer API <br>
            Developer Week 2015
          </p>
        </div>
        <!-- award item -->
        <div class="awards-item">
          <img src="../assets/images/pages/landing/awards/award-mongo.png"/>
          <p>
            Most creative application that used the Mongolab <br>
            Developer Week 2015
          </p>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="landing-homepage-image">
          <img class="img-responsive" src="../assets/images/modules/landing/home-page-image.jpg"/>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- LANDING STARTED MODULE -->
<section class="module module-started">
  <div class="started-content">
    <h1>
      We’re on a mission to make your working life fun, engaging and more productive.
    </h1>

    <form name="started" ng-conroller="notifiedCtrl" ng-submit="submit()" novalidate>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-5">
            <div class="form-group">
              <input type="text" id="started_email" name="started_email" placeholder="Email Address" class="form-control large" ng-model="user.email" required/>
            </div>
          </div>
          <div class="col-xs-12 col-sm-5">
            <div class="form-group">
              <input type="text" id="started_company_name" name="started_company_name" placeholder="Company Name" class="form-control large" ng-model="company.name" required/>
            </div>
          </div>
          <div class="col-xs-12 col-sm-2">
            <button type="submit" class="q-btn q-btn-primary">Sign up for Free</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
