<div id="mobile-menu"></div>

<!-- HEADER -->
<div ng-include="'components/header/header.html'"></div>

<!-- HERO MODULE -->
<div class="hero">
  <div class="hero-content">
    <h1>Team engagement, made easy</h1>
    <h4>From a new hire to your most seasoned team member,
      <br>
      build the enviornment your team wants to become engaged and productive.
    </h4>
    <form name="notified" ng-conroller="notifiedCtrl" ng-submit="submit()" novalidate>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-5">
            <div class="form-group">
              <input type="text" id="notified_email" name="notified_email" placeholder="Email Address" class="form-control large" ng-model="user.email" required/>
            </div>
          </div>
          <div class="col-xs-12 col-sm-5">
            <div class="form-group">
              <input type="text" id="notified_company_name" name="notified_company_name" placeholder="Company Name" class="form-control large" ng-model="company.name" required/>
            </div>
          </div>
          <div class="col-xs-12 col-sm-2">
            <button type="submit" class="q-btn">Get Notified</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- LANDING FEATURED MODULE -->
<section class="module">
  <div class="container">
    <div class="row">
      <div class="module-block">
        <!-- landing feature item -->
        <div class="col-xs-12 col-sm-3">
          <div class="landing-feature-item">
            <img src="../assets/images/pages/landing/icons/create-icon.png"/>
            <h4>Create</h4>

            <p>Create events called Quests to help accomplish anything as a team</p>
          </div>
        </div>
        <!-- landing feature item -->
        <div class="col-xs-12 col-sm-3">
          <div class="landing-feature-item">
            <img src="../assets/images/pages/landing/icons/involve-icon.png"/>
            <h4>Get Involved</h4>

            <p>Invite team members or join quests that matter to you and your team</p>
          </div>
        </div>
        <!-- landing feature item -->
        <div class="col-xs-12 col-sm-3">
          <div class="landing-feature-item">
            <img src="../assets/images/pages/landing/icons/communicate-icon.png"/>
            <h4>Communication is key</h4>

            <p>Keep the momentum going with quest relevant conversations</p>
          </div>
        </div>
        <!-- landing feature item -->
        <div class="col-xs-12 col-sm-3">
          <div class="landing-feature-item">
            <img src="../assets/images/pages/landing/icons/secure-icon.png"/>
            <h4>Safe and Secure</h4>

            <p>Questify uses 256 bit AES encryption to secure your content</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- LANDING AWARDS MODULE -->
<section class="module module-colored landing-awards">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="module-block">
          <h1>Questify is a <br> 1st place winner!</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <!-- award item -->
        <div class="awards-item">
          <img src="../assets/images/pages/landing/awards/award-yammer.png"/>
          <p>
            Most creative application that used the Yammer API <br>
            Developer Week 2015
          </p>
        </div>
        <!-- award item -->
        <div class="awards-item">
          <img src="../assets/images/pages/landing/awards/award-mongo.png"/>
          <p>
            Most creative application that used the Mongolab <br>
            Developer Week 2015
          </p>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="landing-homepage-image">
          <img class="img-responsive" src="../assets/images/modules/landing/home-page-image.jpg"/>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- LANDING STARTED MODULE -->
<section class="module module-started">
  <div class="started-content">
    <h1>
      Let's get started
    </h1>

    <form name="started" ng-conroller="notifiedCtrl" ng-submit="submit()" novalidate>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-5">
            <div class="form-group">
              <input type="text" id="started_email" name="started_email" placeholder="Email Address" class="form-control large" ng-model="user.email" required/>
            </div>
          </div>
          <div class="col-xs-12 col-sm-5">
            <div class="form-group">
              <input type="text" id="started_company_name" name="started_company_name" placeholder="Company Name" class="form-control large" ng-model="company.name" required/>
            </div>
          </div>
          <div class="col-xs-12 col-sm-2">
            <button type="submit" class="q-btn q-btn-primary">Get Notified</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>


