.standard-btn{
  width: 100%;
  height: auto;
  margin: 0 20px 0;
  padding: 10px;
  color: $btn-color-lt;
  font-size: 20px;
  font-weight: 100;
  text-align: center;
  cursor: pointer;
  border: 2px solid $btn-color-lt;
  background-color: transparent;
  @include border-radius($border-radius-q-btn);
}

.standard-btn-primary{
  color: $primary-color;
  border: 2px solid $primary-color;
}